@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    background-color: #E0E0E0; 
    font-family: 'Cabin', sans-serif;
    line-height: 0.6;
    padding-top: 2%;
    color:#3a3939;
}

.resume{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color:#E8E8E8;
    float: left;
    
}

header {
    color: white;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header h1 {
    padding: 7px 15px; 
}

.photo{
    position: relative;
    bottom: 12px;
    float:left; 
    margin: 30px;

}

.aboutMe h2{
    text-align: center;
}

.aboutMep.p{
    text-align: left;
}

.head{
    padding: 40px;
    padding-bottom: 2%;
    background-color: #E8E8E8;
    clear: left;
}

.personalInformation {
    padding: 40px;
    padding-bottom: 4%;
    padding-top: 0%;
    padding-left: 10%;
    clear: left;
}

li{
    clear: left;
    line-height: 1.2;
}

table {
    margin-left: 8%;
    clear: left;
}

th, td {
    padding: 10px;
    line-height: 1;
    text-align: center;
    clear: left;
}

.technical{
    line-height: 1.5;
    margin-left: 12%;
    float: left;
}
.use-C {
    width: 30%;
    text-align: center;
    padding-left: 1%;
    word-wrap: break-word;
    float: left;
}

.use-Python {
    width: 30%;
    float: left;
    text-align: center;
}

.use-Java-Script {
    width: 30%;
    float: left;
    text-align: center;
}

.additional-Information {
    padding: 40px;
    padding-top: 5%;
    padding-left: 12%;
    clear: left;
}